<div class="page-header">
    <h1>
        {{action}}
        <!--<small>стих</small>-->
    </h1>

</div>

<form class="row">

    <div class="col-md-6">
        <div class="form-group">

            <input type="text" class="form-control input-lg" ng-model="dataModel.title" placeholder="Название">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">

            <input type="text" class="form-control input-lg" ng-model="dataModel.author" placeholder="Автор">
        </div>
    </div>


    <div class="col-md-4">
        Оригинал:
        <textarea class="form-control" rows="15" ng-model="dataModel.txtOriginal"></textarea>
    </div>
    <div class="col-md-4">
        Подстрочник:
        <textarea class="form-control" rows="15" ng-model="dataModel.txtWFW"></textarea>
    </div>
    <div class="col-md-4">
        Худ.перевод
        <textarea class="form-control" rows="15" ng-model="dataModel.txtPoetryTranslation"></textarea>
    </div>


    <div class="col-md-12 savebtn">
        <button class="btn btn-primary btn-lg" role="button" ng-click="save()" ng-disabled="saving">{{saveBtnTxt}}</button>
    </div>

    <div class="col-md-6 col-md-offset-3 savebtn">
        <div class="progress" ng-show="saving">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

            </div>
        </div>
    </div>



</form>