<div class="page-header">
    <h1>
        {{poem.title}}
        <small>{{poem.author}}</small>
    </h1>

    <div class="btn-group btn-header">

        <a class="btn btn-default" type="button" ng-href="#/edit/{{poem.id}}">
            <em class="glyphicon glyphicon-pencil"></em> Edit
        </a>
        <button class="btn btn-default" type="button" disabled>
            <em class="glyphicon glyphicon-remove"></em> Remove
        </button>

    </div>
</div>

<div class="row poems">
    <div class="col-md-4">
        <p ng-bind-html="poem.originalText | nl2br"></p>

    </div>
    <div class="col-md-4">
        <p ng-bind-html="poem.wfwText | nl2br"></p>
        <hr/>



        <table class="table table-bordered">
            <tr>
                <td>Коэффициенты</td>
                <td>значение</td>
            </tr>
            <tr>

            </tr>

            <tr>
                <td>Точности:</td>
                <td>{{ (poem.countersWFW[1][1] / poem.countersWFW[1][0]).toFixed(2) }}%</td>
            </tr>



            <tr>
                <td>Вольности:</td>
                <td>{{ (poem.countersWFW[1][3] / poem.countersWFW[1][0]).toFixed(2) }}</td>
            </tr>

            <tr>

            </tr>
        </table>

        <p>Знам. слов: <span class="label label-info">{{ poem.countersWFW[1][0] }}</span></p>
        <p>Не переведено: <span class="label label-info">{{ poem.countersWFW[0][1] }}</span></p>
        <p>Синонимы: <span class="label label-info">{{ (poem.countersWFW[1][2] / poem.countersWFW[1][0]).toFixed(2) }}</span></p>

    </div>
    <div class="col-md-4">
        <p ng-bind-html="poem.poetryText | nl2br"></p>
        <hr/>


        <table class="table table-bordered">
            <tr>
                <td>Коэффициенты</td>
                <td>значение</td>
            </tr>


            <tr>
                <td>Точности:</td>
                <td>{{ (poem.countersPoetry[1][1] / poem.countersPoetry[1][0]).toFixed(2) }}</td>
            </tr>

            <tr>
                <td>Адекватности: </td>
                <td> {{getAdequacyCoef(poem)}} </td>
            </tr>

            <tr>
                <td>Вольности:</td>
                <td>{{ (poem.countersPoetry[1][3] / poem.countersPoetry[1][0]).toFixed(2) }}</td>
            </tr>


        </table>

        <p>Знам. слов: <span class="label label-info">{{ poem.countersPoetry[1][0] }}</span></p>
        <p>Не переведено: <span class="label label-info">{{ poem.countersPoetry[0][1] }}</span></p>
        <p>Синонимы: <span class="label label-info">{{ (poem.countersPoetry[1][2] / poem.countersPoetry[1][0]).toFixed(2) }}</span></p>
    </div>
</div>