html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.btn-header{
    bottom: 15px;
    position: absolute;
    right: 15px;
}

.page-header{
    position: relative;
}

.savebtn{
    text-align: center;
    margin-top:20px;
}

.header{
    text-align: center;
    padding: 50px;
    background: #ccc;
    margin-bottom: 20px;
}

.list{
    overflow: auto;
    /*max-height: 600px;*/
}

.poems{
    font-size: 12px;
}